$color-white: #ffffff ;
$color-dark: #333333;
$color-gray: #999999;
$color-gold: #fce38a; 
$color-red: #f38181;

$font-Montserrat:'Montserrat', sans-serif;
$font-Roboto:'Roboto', sans-serif;
$font-Kaushan:'Kaushan Script', cursive;
